body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(300px, 50vw, 600px);
    top: 5%;
    position: relative;
    padding: 1.5em;
    border-radius: 3em;
    animation: slideIn 1.4s cubic-bezier(.28, 1.63, .62, .88);
}

@keyframes slideIn {
    from {
        opacity: 0;
        left: -30%;
        top: 30%;
        rotate: -15deg;
    }
    to {
        opacity: 100%;
        left: 0;
        top: 5%;
        rotate: 0deg;
    }
}

@keyframes slideOut {
    from {
        opacity: 100%;
        left: 0;
        top: 5%;
        rotate: 0deg;
    }
    to {
        opacity: 0;
        left: 30%;
        top: 30%;
        rotate: +15deg;
    }

}


.login h1{
    font-size: 45px;
    background: radial-gradient(rgba(var(--accent),0.5), rgba(var(--secondary),0.8));
    background-clip: text;
    text-shadow: 0 0 2em rgba(var(--secondary),1);
    color: transparent;
}

form {
    width: clamp(250px, 60%, 400px);
}

label {
    background: transparent;
    font-size: 19px;
    color: rgba(var(--accent),0.7);
    text-shadow: 0 0 10px rgba(var(--accent),0.3);
}

.textbox input{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

input[type="submit"]{
    width: 40%;
    padding: 5px;
    font-size: 18px;
    color: rgba(var(--primary),0.3);
    cursor: pointer;
}

input[type="submit"]:hover{
    color: rgba(var(--primary),0.8);
}

#resetButton {
    width: 2em;
    padding: 5px;
    cursor: pointer;
}

#resetButton > span {
    color: rgba(var(--secondary),0.3);
    transition: color 0.2s;
}

#resetButton:hover > span {
    color: rgba(var(--secondary),0.8);
}

input[type="reset"] {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
}


