:root {
    --bg: #080e1d;
}

body::-webkit-scrollbar {
    display: none;
}

body, html {
    margin: 0;
    padding: 0;
    height: 99%;
    width: 100%;
    overscroll-behavior: none;
}

body::before,
body::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 200%;
    z-index: -1;
    background: var(--bg);
    opacity: 90%;
}

body::before {
    filter: url(#fractalNoiseFilter);
}