body{
    background-color: #272E39;
    background-size: cover;
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
//font-family: ;
}