<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         id="WebApp_ID" 
         version="3.1">
         
  <display-name>Shapedibles</display-name>
  
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/storage</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
 
  <servlet>
    <servlet-name>ProductControl</servlet-name>
    <servlet-class>control.ProductControl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>control.Login</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>control.Register</servlet-class>
  </servlet>

    <servlet>
        <servlet-name>Orders</servlet-name>
        <servlet-class>control.OrdersControl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Orders</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ProductControl</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/assets/*</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>ProductUpload</servlet-name>
    <servlet-class>control.ProductUpload</servlet-class>
    <init-param>
		<param-name>file-upload</param-name>
		<param-value>img</param-value>
	</init-param>
	<multipart-config>
		<max-file-size>52428800</max-file-size>
		<max-request-size>52428800</max-request-size>
		<file-size-threshold>0</file-size-threshold>
	</multipart-config>
  </servlet>

 <servlet-mapping>
    <servlet-name>ProductUpload</servlet-name>
    <url-pattern>/productupload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>cartControl</servlet-name>
    <servlet-class>control.CartControl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>cartControl</servlet-name>
    <url-pattern>/cartControl</url-pattern>
  </servlet-mapping>

</web-app>
